<!DOCTYPE html>
<html>
  <head>
    <title>  Rahul creations </title>
     <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <style>
      #banner{
        height:250px;
        width:100%;
        object-fit:cover;
      }
    </style>
  </head>
  <body>
    <div class = 'container'>
    <h2 class = 'text-center mt-2 mb-4'id='tittle'>{{company}}</h2>
    <img class = 'img-fluid'id ='banner'src='https://cdn.pixabay.com/photo/2016/04/20/08/21/entrepreneur-1340649_960_720.jpg' height ='80' width='500' />
  <h2 class = 'text-center mt-4 mb-2'>About Jovian</h2>
      <p class ='lead'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
    <h2 class = 'text-center'>Jobs Openings</h2>
    <div>
    {% for job in jobs%}
      {% include 'jobs.html'%}
      {% endfor %}
    </div>
      <div style = 'text-align:center;'>
        <button class='btn btn-primary btn btn-primary btn-sm'>Contact us</button>
      </div>
      </div>
  </body>
</html>
